/*this is the css for Motivate Me*/

h1{
  font-family: 'Syncopate', sans-serif;
  font-size: 40px;
  color: white;
  margin: 0px;
}

.top-bar{
  background-color: black;
  padding: 10px 10px 10px 10px;
  height:inherit;
}

#navbar{
  color: white;
  font-family: "Electrolize", sans-serif;
  float:right;
}

h5{
  font-size: 20px;
  font-style: italic;
  margin: 0px;
  display: inline-block;
  padding-right: 20px;
  position:relative;
}

#quote {
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  color: black;
}

p{
  color: white;
  font-family: "Electrolize", sans-serif;
  font-size: 20px;
  font-style: italic;
  margin: 0px;
  display: inline-block;
  padding-right: 20px;
}

body{
  align: center;
  background-color: white;
  margin: 0px;
}

#oHigh{
  font-family: "Electrolize", sans-serif;
  font-size: 30px;
  padding:10px 10px 10px 10px;
  color: black;
  text-align: center;
}

#oMed{
  font-family: "Electrolize", sans-serif;
  font-size: 30px;
  padding:10px 10px 10px 10px;
  color: black;
  text-align: center;
}

#oLow{
  font-family: "Electrolize", sans-serif;
  font-size: 30px;
  padding:10px 10px 10px 10px;
  color: black;
  text-align: center;
}

.quoteContainer {
  margin-right:auto;
  margin-left:auto;
}

@media (max-width: 500px){
  .top-bar{
    background-color: black;
    padding: 10px 10px 10px 10px;
    height:100px;
  }

  h1{
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    color: white;
    margin: 0px;
  }

  #quote {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    color: black;
  }

  #navbar{
  color: white;
  font-family: "Electrolize", sans-serif;
  font-size: 15px;
  font-style: italic;
  width: 100%;
  }

  h5{
    font-size: 10px;
    position: relative;
    padding-right:10px;
  }

  #oHigh{
    font-family: "Electrolize", sans-serif;
    font-size: 15px;
    padding:10px 10px 10px 10px;
    color: black;
    text-align: center;
  }

  #oMed{
    font-family: "Electrolize", sans-serif;
    font-size: 15px;
    padding:10px 10px 10px 10px;
    color: black;
    text-align: center;
  }

  #oLow{
    font-family: "Electrolize", sans-serif;
    font-size: 15px;
    padding:10px 10px 10px 10px;
    color: black;
    text-align: center;
  }
}
